/* GENERAL */
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      height:100%;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

h1{
    text-align:left;
    padding-left:8vw;
    font-family: Lato, sans-serif;
    font-size: 3.5vw;
    font-weight: 600;
    padding-top: 6vw;
    margin: 0;
    color: #eeeeee; 
}

h2{
    float: center;
    text-align: center;
    font-family: Lato, sans-serif;
    font-size: 5vw;
    font-weight: 900;
    padding-top: 4vw;
    margin: 0;
    color: #eeeeee;
    clear:both;
}

h3{
    float: center;
    text-align: center;
    font-family: Lato, sans-serif;
    font-size: 2vw;
    font-weight: 700;
    color: #eeeeee;
    opacity: 0.4;
    margin:0;
    padding: 2vh 0;
}

body{
    background-color: #171717;
    margin: 0;
    line-height: 1;
    font-family: Lato, sans-serif;
    font-size: 2vw;
    min-height: 100%;
}


.topnav{
    width: 80%;
    margin: 0.6vw auto;
    display:flex;
    background-color: #171717;
    justify-content: center;
}

.btn0{
    margin: 1vw 3vw;
    font-family: Montserrat, sans-serif;
    font-size: 1.3vw;
    font-weight: 600;
    color: #eeeeee;
    text-decoration: none;
    padding:8px 8px;
}

.topnav .btn{
    margin: 1vw 3vw;
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 1.3vw;
    font-weight: 600;
    color:#eeeeee;
    text-decoration: none;
    padding:8px 8px;
}

.topnav .btnright{
    margin-left: 3vw;
    align-self:center;
    font-family: Montserrat, sans-serif;
    font-size: 1.3vw;
    font-weight: 600;
    color:#eeeeee;
    text-decoration: none;
    padding:1% 1%;
    border-style:solid;
    border-width:1.5px;
    border-color:#eeeeee;
    border-radius:0.7vw;
}

.hire-me{
    padding: 4vw 0;
}

.backtext{
    color: #222222;
    -webkit-text-fill-color: #171717; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 0.2vw;
    -webkit-text-stroke-color: #222222;
    text-align: left;
    font-family: Lato, sans-serif;
    font-weight: 900;
    font-size: 12vw;
    position: absolute; 
    z-index: 1; 
    padding-left:7vw;
}

.hire-me:hover .backtext{
    color: #d20b2d;
    -webkit-text-fill-color: #171717; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 0.1vw;
    -webkit-text-stroke-color: #d20b2d;
}

.backtextno{
    color: #222222;
    -webkit-text-fill-color: #171717; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 0.2vw;
    -webkit-text-stroke-color: #222222;
    text-align: left;
    font-family: Lato, sans-serif;
    font-weight: 900;
    font-size: 12vw;
    position: absolute; 
    z-index: 1; 
    padding-left:7vw;
}

a.desc:hover{
    opacity: 100%;
    color:#d20b2d;
}

.desc{
    text-align: center;
    line-height: 1.5;
    font-family: Lato, sans-serif;
    font-size: 2.4vw;
    color: #eeeeee;
    font-weight: 600;
    display: table;
    width: 95%;
    margin: 0 auto;
    padding-top: 16vw;
    padding-left: 21vw;
    padding-right: 5vw;
}

.clients{
    display: flex;
    justify-content: space-evenly;
    margin:5vw auto;
    width:80%;
    height:auto;
    min-height: 0;
    min-width: 0; 
}

.clients-cell{
    flex-basis:auto;
    background-color:#121212;
    padding: 2vw;
    border-radius: 1vw;
}

.clients-cell > img{
    width:100%;
    height:auto;
}

p{
    color: #171717;
    line-height: 1.2;
    font-family: Montserrat, sans-serif;
    font-size: 1.5vw;
    font-weight: 400;
    opacity: 0.7;
    float: left;
    text-align: justify;
    padding-bottom: 4vw;

}

.subtitle{
    text-align: center;
    font-family: Lato, sans-serif;
    font-size: 3vw;
    font-weight: 700;
    color: #d20b2d;
    padding: 3vw 0;
    clear: both;
}

hr{
    width: 70%;
    height: 0.3vw;
    background-color: #171717;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.3;
    margin-bottom: 6vw;
    margin-top: 4vw;
}

.breaker{
    width:70%;
    margin: 0 auto;
}

/* INDEX */
.itemimgheader{
    flex-grow:2;
    width:50%;
}

.img-top {
    display: none;
    position: absolute;
    z-index: 99;
    border-radius: 1vw;
    max-width: 10%;
}

.itemimgheader:hover .img-top {
    display: inline;
    max-width: 29%;
}

.hire-me{
    width:100%;
    height:auto;
    min-height: 0;
    min-width: 0;
}

.project-item{
    display:block;
    text-align:center;
}

a.cat{
    text-align: center;
    vertical-align:middle;
    background:#d20b2d;
    padding: 1.5vw;
    color: #eeeeee;
    text-decoration: none;
    font-weight: 700;
    display: inline-block;
    border-radius: 1.3vw;
}

.timeline{
    display:block;
    padding: 10vw 0;
}

.timeline img{
    position: relative;
    max-width: 100%;
}


p1{
    color: #eeeeee;
    opacity:50%;
    width: 70%;
    text-align: center;
    font-size:2vw;
    padding-top: 1vh;
    font-weight: 400;
}

.portfolio-flex{
    padding: 6vh 6vw;
    display: flex;
    width:100%;
    height:auto;
    min-height: 0;
    min-width: 0; 
}

.project-item:hover .backtext{
    color: #d20b2d;
    -webkit-text-fill-color: #171717; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 0.1vw;
    -webkit-text-stroke-color: #d20b2d;
}

.itemtext{
    flex-grow: 1;
    /*flex-basis: 100%;*/
    width:100%;
    height:auto;
    flex-wrap: column;
}

.itemimg{
    flex-grow:2;
    width:100%;
    /*width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    */
}

.itemimg img{
    width: 100%;
    height: auto;
}

.itemtext .itemtext_title{
    
    align-content: center;
    vertical-align: middle;
    text-align: left;
    font-family: Montserrat, sans-serif;
    font-size: 3vw;
    font-weight: 700;
    padding-top: 4vw;
    padding-left: 4.5vw;
    color: #eeeeee;
    width: 100%;
    height: auto;
}

.itemtext_details{
    position: relative;
    text-align: left;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 1.1vw;
    color: #575757;
    padding-top: 1.5vw;
}

.itemtext .itemtext_desc{
    position: relative;
    line-height: 1.7vw;
    text-align: left;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 1.3vw;
    padding-top: 4.5vw;
    color: #eeeeee;
    width: 80%;
    height: auto;
}

.itemtext .typebtn{
    display: block;
    text-align: right;
    position: relative;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.2vw;
    padding-top: 8vw;
    padding-right: 6vw;
    color: #EC1136;
}

.contact{
    display:flex;
        -ms-box-orient: horizontal;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -moz-flex;
        display: -webkit-flex;
    margin:auto;
    width:80%;
    position: relative;
    padding: 8vw 6vw;
    margin-bottom: 5vw;
    justify-content: space-between;
        -webkit-justify-content: space-between;
}
.contact a.cat2{
    flex: 0 0 10%;
    display:inline-block;
    position: relative;
}

.cat2 >img{
    max-width:100%;
}

/* ABOUT PAGE */
.about-image-header{
    padding:0;
    top: 0;
    left: 0;
    height: auto;
    width: 100%;
}

.about-image-header img{
    position: relative;
    max-width: 100%;
    padding:40px 0px;
}

.title{
    float: center;
    text-align: center;
    font-family: Lato, sans-serif;
    font-size: 3.5vw;
    font-weight: 900;
    color: #d20b2d;
}

.aboutthumbnail{
    display:flex;
    margin: 0 auto;
    width:55%;
    height:auto;
    padding: 3vw 0;
    align-items: center;
    justify-content: space-between;
}

.aboutthumbnail img{
    max-width: 100%;
    max-height: 100%;
}

.aboutoverlay {
    position: fixed;
    z-index: 99;
    top:0%;
    left:0%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    visibility: hidden;
    opacity: 10;
    transition: opacity .5s;
}

/*body > *:not(#img-id,#img-id2){
    filter: blur(5px);
}*/
  
.aboutoverlay img{
    position: relative;
    margin: 0 auto;
    max-width: 95%;
    max-height: 95%;
    width: auto;
    height: auto;
    transform: scale(0.95);
    transition: transform .3s;
  }
  
.aboutoverlay:target {
    visibility: visible;
    outline: none;
    cursor: default;
  }
  
.aboutoverlay:target img {
      transform: scale(1);
  }


/*for multiple pics in a section*/
.showcase{
    position: relative;
    height: auto;
    width: 100%;
    overflow: hidden;
    padding:0;
}

.showcase img{
    display: table;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    padding:20px 0;
    margin: 0 auto;
}

/* PROJECTS */
.project-intro{
    text-align:center;
    font-family: Montserrat, sans-serif;
    font-size: 1.5vw;
    font-weight: 400;
    color: #171717;
    width:80%;
    margin: 4vw auto;
}
.project-header{
    height: auto;
    width: 100%;
    position: relative;
    margin: 0 auto;
}

.project-header img{
    
    max-width: 100%;
    overflow: hidden;
    margin: 0 auto;
}

.project-grid{
    margin-top: 50px;
    -webkit-box-pack: center;
            justify-content: center;
    align-content: center;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(2, 40vw); 
    grid-column-gap: 2vw;
    grid-row-gap: 5vh;
    padding-top: 10vh;
    clear: both;
}

.pic{

    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

.imageexplanation {
    font-size: 1.5vw;
    text-decoration: none;
    text-align: center;
    color: #eeeeee;
    opacity: 0.3;
    font-family: Lato, sans-serif;
    width:85%;
    padding-top:0;
    margin: 0 auto;
}

.showcase-project{
    position: relative;
    height: auto;
    width: 100%;
    overflow: hidden;
    padding:3vw 0;
}

.showcase-project img{
    display: table;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    margin: 0 auto;
}

.step{
    color: #d20b2d;
    font-size: 2vw;
    font-weight: 600;
    /*width: 40%;*/
    margin: 0 auto;
    text-align: center;
    float: left;
    clear: both;
}

/* bmw */

.subtitlebmw {
    text-align: center;
    font-family: Lato, sans-serif;
    font-size: 3vw;
    font-weight: 700;
    color: rgb(61, 54, 122);
    padding-bottom: 4vw;
    clear: both;
}

.overview-grid{
    -webkit-box-pack: center;
            justify-content: center;
    align-content: center;
    padding: 2vw 2vw;
    display: grid; 
    grid-template-columns: auto auto; 
    grid-template-rows: auto;
    grid-column-gap: 8vw;
    grid-row-gap: 1.5vh;
    min-height: 0;
    min-width: 0;
    clear:both; 
}

.labelbmw{
    font-family: Lato, sans-serif;
    font-size: 1.5vw; 
    font-weight: 600;
    color: rgb(61, 54, 122);
    text-align: center;
    padding: 0 4vw;
}

.stepbmw{
    color: rgb(61, 54, 122);
    font-size: 2vw;
    font-weight: 600;
    margin: 0 auto;
    text-align: center;
    float: left;
}

/* rijks */

.label{
    font-family: Lato, sans-serif;
    font-size: 1.5vw; 
    font-weight: 600;
    color: #d20b2d;
    text-align: center;
    padding: 0 4vw;
}

.labeled{
    font-family: Lato, sans-serif;
    font-size: 1.2vw; 
    color: #171717;
    text-align: center;
    padding-top: 1vw;
    padding-left: 4vw;
    padding-right: 4vw;
    opacity: 0.8;
}

/* hallmark */
.subtitlehallmark{
    text-align: center;
    font-family: Lato, sans-serif;
    font-size: 3vw;
    font-weight: 700;
    color: #bdd7e9;
    padding-bottom: 4vw; 
}

.labelhallmark{
    font-family: Lato, sans-serif;
    font-size: 1.5vw; 
    font-weight: 600;
    color: #bdd7e9;
    text-align: center;
    padding: 0 4vw;
}

.stephallmark{
    color: #bdd7e9;
    font-size: 2vw;
    font-weight: 600;
    margin: 0 auto;
    text-align: center;
    float: left;
}

.stepcinema{
    color: #B1E20F;
    padding-bottom:1vw;
    font-size: 3vw;
    font-weight: 600;
    margin: 4vw auto;
    text-align: center;
    float: left;
    clear:both;
}

/* WORK */
.project-flex{
    display:flex;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    width: 95%;
    align-content: center;
    margin: 1vw auto;
}
/*.project-grid1{
    margin-top: 10vh;
    -webkit-box-pack: center;
            justify-content: center;
    align-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22vw, 1fr));
    grid-template-rows: 70vh 70vh; 
    grid-column-gap: 0px;
    grid-row-gap: 2.5vw;
}*/

.textWithBlurredBg{
    flex-grow:1;
    width:50%;
    height:auto;
    display:inline-block;
    position:relative;
    transition:.3s;
}

.textWithBlurredBg .ttl{
    color: #bdd7e9;
    font-family: Lato, sans-serif;
    font-size: 3vw;
    font-weight: 600;
    margin: 0 auto;
    text-align: center;
}

.textWithBlurredBg .descr{
    color:#eeeeee;
    font-family: Lato, sans-serif;
    font-size: 1.5vw;
    font-weight: 400;
    line-height: 1.7vw;
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 70%;
}

.textWithBlurredBg .pic1{
    width: 100%;
    /*height: 100%;*/
    -webkit-filter: blur(0);
       filter: blur(0);
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}

.textWithBlurredBg:hover .pic1{
    filter:blur(5px) brightness(60%);
}

.textWithBlurredBg .overlay{
    font-family: Lato, sans-serif;
    font-size: 1.5vw; 
    font-weight: 700;
    position:absolute;
    text-align:center;
    z-index:1;
    top:50%;
    margin:auto;
    text-align:center;
    color:#fff;
    opacity:0;
    transition:.3s;
    text-shadow: 2px 2px 4px #171717;
}

.textWithBlurredBg:hover .overlay{
    opacity:1;
}


/* ABOUT GRID */
.grid-card-wraper{
    position: relative;
    padding-left: 4%;
    padding-right: 4%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2em;
}

.grid-card{
    display: grid;
    height: 500px;
    grid-template-rows: 7fr 2fr 1.5fr 1fr;
    grid-gap: 1em;

    color: #eeeeee;
    text-align: left;
    border-radius:0.7vw;
    background-color: #171717;
}

.grid-card > div{
    padding-left: .6em;
    padding-right: .6em;
}

.grid-card-image{
    width: 14em;
    height: 100%;
    object-fit: cover;
    border-radius: 0.7vw 0.7vw 0 0;
}

.grid-card-title{
    font-weight: 900;
    font-size: 2vw;
    color: #eeeeee;
    text-shadow: 4px 4px 10px #111111;
}

.grid-card-description{
    font-weight: normal;
    font-size: 1.2vw;;
    text-shadow: 2px 2px 10px #111111;

}

.grid-card-link{
    position: relative;
    width: 100%;
    height: 60px;
    bottom: 0px;

    padding-top: 20px;

    text-align: center;
    text-shadow: 2px 2px 10px #111111;

    color: #d20b2d;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;

    border-style: solid none none none;
    border-color: #d20b2d;
    border-width: 2px;

}

.grid-card-break{
    width: 95%;
    height: 3px;
    border-color: #eeeeee;
    background-color: #eeeeee;
    margin-left: 0;
    margin-right: auto;
    opacity: 1;

    margin-bottom: 0;
    margin-top: 5px;
}

.prototype-content-block{
    display: block;

}

.footer{
    padding:7vw 0;
    display: flex;
    margin: 0 auto;
    width: 80%;
    clear: both;
}

.footertext{
    display: flex;
    margin: auto 0;
    color: #171717;
    font-family: Lato, sans-serif;
    font-size: 1.5vw;
    font-weight: 600;
    opacity: 0.7;
    text-align: center;
    clear:both;
}

.mailtext{
    display:inline;
    color: white;
    font-size: 1.2vw;
    text-align: center;
    vertical-align: middle;
    margin: auto; 
}
